@tailwind base;
@tailwind components;
@tailwind utilities;

.box:hover{
   
    box-shadow: 5px 5px 5px black;
    background-color: aliceblue;
    
}
nav{
   background-color:#002D62;
}
hero-section{
   background-color:#002D62;
}
